body {
    background-color: lightgrey;
}

.tempPageTitle{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.tempRadioBtn{
    font-family: 'Oswald', sans-serif;
    margin-top:  10em;
    margin-left: 7em;
}
textarea.form-control{
    width: 200px;
    height: 100px;
}
.custom-radio{
    margin: 2px;
}

#tempcomment{
    font-family: 'Oswald', sans-serif;
    font-size: 40pt; 
    text-align: center
}